workflows-archive/simpro-overdue-quotes-WORKING.json
{
  "name": "Simpro Overdue Quotes - Email Reminders (WORKING)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Day at 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://fyrup.simprosuite.com/api/v1.0/companies/0/quotes/?pageSize=250&columns=ID,Description,DateIssued,ValidityDays,Customer,CustomerContact,Total",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "sendHeaders": true,
        "specifyHeaders": "usingFieldsBelow",
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "get-quotes",
      "name": "Get All Quotes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "credentials": {
        "headerAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Fyrup Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter quotes that are overdue by 7+ days\n// Simpro calculates expiry as: DateIssued + ValidityDays\nconst today = new Date();\nconst overdueQuotes = [];\n\nfor (const quote of $input.all()) {\n  const quoteData = quote.json;\n  \n  // Check if quote has DateIssued and ValidityDays\n  if (!quoteData.DateIssued || !quoteData.ValidityDays) continue;\n  \n  // Calculate expiry date (DateIssued + ValidityDays)\n  const issueDate = new Date(quoteData.DateIssued);\n  const expiryDate = new Date(issueDate);\n  expiryDate.setDate(expiryDate.getDate() + quoteData.ValidityDays);\n  \n  // Calculate days overdue\n  const diffTime = today - expiryDate;\n  const diffDays = Math.floor(diffTime / (1000 * 60 * 60 * 24));\n  \n  // Extract customer ID (API returns object with ID field)\n  const customerID = quoteData.Customer?.ID || quoteData.Customer;\n  \n  // If overdue by 7 or more days, add to list\n  if (diffDays >= 7 && customerID) {\n    overdueQuotes.push({\n      json: {\n        quoteID: quoteData.ID,\n        customerID: customerID,\n        customerHref: null,  // Will be populated next\n        daysOverdue: diffDays,\n        dateIssued: quoteData.DateIssued,\n        validityDays: quoteData.ValidityDays,\n        expiryDate: expiryDate.toISOString().split('T')[0],\n        description: quoteData.Description || 'No description'\n      }\n    });\n  }\n}\n\nreturn overdueQuotes;"
      },
      "id": "filter-overdue",
      "name": "Filter Overdue Quotes (7+ days)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://fyrup.simprosuite.com/api/v1.0/companies/0/customers/",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "sendHeaders": true,
        "specifyHeaders": "usingFieldsBelow",
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "get-customers",
      "name": "Get All Customers (with hrefs)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300],
      "credentials": {
        "headerAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Fyrup Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Match quotes with customer _href URLs\nconst quotes = $('Filter Overdue Quotes (7+ days)').all();\nconst customers = $('Get All Customers (with hrefs)').all();\n\n// Create customer ID to _href map\nconst customerMap = {};\nfor (const customer of customers) {\n  const custData = customer.json;\n  if (custData.ID && custData._href) {\n    customerMap[custData.ID] = custData._href;\n  }\n}\n\n// Add _href to each quote\nconst quotesWithHrefs = [];\nfor (const quote of quotes) {\n  const quoteData = quote.json;\n  const customerHref = customerMap[quoteData.customerID];\n  \n  if (customerHref) {\n    quotesWithHrefs.push({\n      json: {\n        ...quoteData,\n        customerHref: customerHref\n      }\n    });\n  }\n}\n\nreturn quotesWithHrefs;"
      },
      "id": "match-hrefs",
      "name": "Match Quotes with Customer HREFs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://fyrup.simprosuite.com{{ $json.customerHref }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "sendHeaders": true,
        "specifyHeaders": "usingFieldsBelow",
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "get-customer-details",
      "name": "Get Customer Details (with Email)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300],
      "credentials": {
        "headerAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Fyrup Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge customer email with quote data\nconst customerDetails = $input.item.json;\nconst quoteData = $('Match Quotes with Customer HREFs').item.json;\n\n// Get email from customer details\nconst customerEmail = customerDetails.Email;\n\nif (!customerEmail || customerEmail.trim() === '') {\n  // Skip if no email\n  return [];\n}\n\nreturn [{\n  json: {\n    ...quoteData,\n    customerEmail: customerEmail,\n    customerName: customerDetails.CompanyName || `${customerDetails.GivenName} ${customerDetails.FamilyName}`.trim()\n  }\n}];"
      },
      "id": "prepare-email",
      "name": "Prepare Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "fromEmail": "your-email@example.com",
        "toEmail": "={{ $json.customerEmail }}",
        "subject": "=Quote Expired - Action Required - Quote #{{ $json.quoteID }}",
        "emailType": "html",
        "message": "=<p>Dear {{ $json.customerName }},</p>\n\n<p>This is a friendly reminder that your quote expired <strong>{{ $json.daysOverdue }} days ago</strong> and requires your attention.</p>\n\n<p><strong>Quote Details:</strong></p>\n<ul>\n  <li>Quote ID: {{ $json.quoteID }}</li>\n  <li>Issued: {{ $json.dateIssued }}</li>\n  <li>Expired: {{ $json.expiryDate }}</li>\n  <li>Days Overdue: {{ $json.daysOverdue }}</li>\n</ul>\n\n<p>Please review and respond at your earliest convenience.</p>\n\n<p>Best regards,<br>Your Team</p>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Overdue Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1650, 300],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "Your SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Setup Instructions - CORRECT VERSION\n\n**Uses Simpro's expiry calculation: DateIssued + ValidityDays**\n\n### How It Works:\n1. Gets ALL quotes (pageSize=1000) with DateIssued, ValidityDays\n2. Calculates expiry date for each quote\n3. Filters quotes expired 7+ days ago\n4. Gets customer list (with _href URLs)\n5. Matches quotes to customers\n6. **Follows each _href** to get full customer details + Email\n7. Sends email reminders\n\n### What You Need:\n\n1. **Credential Already Linked:**\n   - All HTTP nodes use: `Fyrup Auth`\n   - (Generic Credential Type → Header Auth)\n\n2. **Setup Email (SMTP):**\n   - Configure SMTP credentials\n   - Update \"From\" email in Send Email node\n\n### Testing:\n- Execute manually first\n- Check each node output\n- Found 212 overdue quotes in your system!\n\n### Important:\n- Uses DateIssued + ValidityDays (Simpro standard)\n- Gets ALL quotes with pageSize=1000\n- Runs daily at 9:00 AM\n- **Correctly follows _href pattern for customer emails**",
        "height": 460,
        "width": 380
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 480]
    }
  ],
  "pinData": {},
  "connections": {
    "Every Day at 9 AM": {
      "main": [
        [
          {
            "node": "Get All Quotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Quotes": {
      "main": [
        [
          {
            "node": "Filter Overdue Quotes (7+ days)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Overdue Quotes (7+ days)": {
      "main": [
        [
          {
            "node": "Get All Customers (with hrefs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Customers (with hrefs)": {
      "main": [
        [
          {
            "node": "Match Quotes with Customer HREFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Quotes with Customer HREFs": {
      "main": [
        [
          {
            "node": "Get Customer Details (with Email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Details (with Email)": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Data": {
      "main": [
        [
          {
            "node": "Send Overdue Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "simpro-overdue-quotes-working",
  "meta": {
    "instanceId": "your-n8n-instance-id"
  },
  "tags": [],
  "updatedAt": "2026-01-23T00:00:00.000Z"
}
